body {
    background-color: cornsilk;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

p {
    font-size: 42px;
    border: solid 3px black;
    border-radius: 5px;
    padding: 7px 10px 7px 10px;
    background-color: cornflowerblue;
}

